.font36-24 {font-size: 36px; color: #000000; font-weight: 700;}
.content {font-size: 22px; color: #000000; font-weight: 700;}

/* COMMON */
section {width: calc(100vw - 80px); overflow: hidden; text-align: center;}
section#main-title {padding: 180px 0 0;}
section#core-value {padding: 180px 0 0; height: 875px;}
section#vision-mission {padding: 180px 0 0;}
section#history {padding: 180px 0;}
section h2 {margin-bottom: 32px;}
#footer {width: calc(100vw - 80px);}

/* section#main-title */
section#main-title {text-align: center;}
#main-title h1 {font-size: 106px; font-weight: 700; margin-bottom: 36px;}
#main-title .content {margin-top: 32px;}

#main-title div.bgImg {background-position: left 30% top 0px;}
#main-title div.bgImg.show {background-position: left 60% top 0px;}
#main-title div.figImg {display: flex; justify-content: space-between; margin: 40px auto; max-width: 90%; padding: 125px 0;  height: 600px;}
#main-title figure {margin: 0; position: relative;}
#main-title figure + figure {margin-left: 60px;}
#main-title figure:nth-child(2n) {top: 50px;}
#main-title figure:nth-child(2n-1) {top: -20px;}
#main-title figure figcaption {font-size: 14px; text-align: left; margin-top: 10px;}

/* section#vision-mission */
#vision-mission .content {margin-top: 32px;}
#vision-mission p {margin-bottom: 72px;}
#vision-mission img {width: 80%; max-width: 900px;}

/* section#core-value */
#core-value h2 {margin-bottom: 20px;}

/* section.mainslider */
#core-value .imageSlide .box {overflow: visible; width: 60%; margin-left: 20%;}
#core-value .imageSlide .dummy {opacity: 0; height: 530px; width: 800px;}

#core-value .imageSlide ul > li {background-size: 220px; background-repeat: no-repeat; background-position: top center; }
#core-value .imageSlide ul > li > .slidertext {position: absolute; width: 100%; top: 160px; left: 50%; transform: translateX(-50%); letter-spacing: -0.02em; text-align: center;}
#core-value .imageSlide ul > li > .slidertext h2 {font-size: 96px; color: #eee; position: relative; top: 115px; z-index: -10;}
#core-value .imageSlide ul > li > .slidertext .title {font-size: 36px; font-weight: 700;}
#core-value .imageSlide ul > li > .slidertext .content {font-size: 22px; margin-top: 24px;}

#core-value .imageSlide .slideControl > a.prev, .imageSlide .slideControl > a.next {display: none;}
#core-value .imageSlide .slideControl > a.play {left: calc(50% - 55px); color: #0073FF; bottom: -20px;}
#core-value .imageSlide ul.slideIndicator {left: calc(50% - 5px); bottom: -20px;}
#core-value .imageSlide ul.slideIndicator > li > a {border: 1px solid #0073FF;}
#core-value .imageSlide ul.slideIndicator > li.on > a {border-color: #0073FF; background-color: #0073FF;}

/* section#history */
#history h2 {margin-bottom: 80px;}
#history ul {position: relative;}
#history ul::before {content: ""; position: absolute; left: 50%; top: -20px; background-color: #eeeeee; width: 1.3px; height: 100%; z-index: -10;}
#history ul div.year {font-size: 54px; font-weight: 700; padding: 50px 0;}
#history ul div.month {width: 60px; height: 60px; text-align: center; font-size: 16px; font-weight: 700; color: #0073FF; line-height: 60px; background-color: #fff; border: 1px solid; border-radius: 50%;}

#history ul > li {width: 50%; height: 100%; margin: 15px 0; display: inline-block; position: relative; left: 0;}
#history ul > li:nth-child(2n) {text-align: right; margin-left: 30px; margin-right: calc(50% - 30px);}
#history ul > li:nth-child(2n) div.month {float: right; }
#history ul > li:nth-child(2n-1) {text-align: left; margin-right: 30px; margin-left: calc(50% - 30px);}
#history ul > li:nth-child(2n-1) div.month{float: left; }

#history ul > li .content {padding: 15px 0;}
#history ul > li:nth-child(2n) .content {padding-right: 90px;}
#history ul > li:nth-child(2n-1) .content {padding-left: 90px;}

#history ul > li > img {max-width: 400px; max-height: 250px; padding-bottom: 15px;}
#history ul > li > img:not(:last-child) {margin-bottom: 20px;}
#history ul > li:nth-child(2n) img {padding-right: 90px;}
#history ul > li:nth-child(2n-1) img {padding-left: 90px;}