.font36-24 {font-size: 36px; color: #000000; font-weight: 700;}
.content {font-size: 22px; color: #000000; font-weight: 700;}

/* COMMON */
section {width: 100vw; overflow: hidden; text-align: left;}
section#main-title {padding: 180px 0 0;}
section#main-content {padding: 300px 0 0;}
section#map {padding: 72px 0 180px 0;}
section h3 {font-size: 52px; display: inline-block; width: 30%; min-width: 310px; margin-right: 5%; position: relative; top: -10px;}

/* #side-menu */
div#side-menu {display: none;}

/* #main-title */
#main-title h1 {font-size: 106px; font-weight: 700; margin-bottom: 16px;}
#main-title .content {margin-top: 32px;}

#main-title div.bgImg img:nth-child(1) {position: absolute; z-index: -10; width: auto; height: 173px; top: 160px; right: 22%; animation:doongdoong 1s infinite alternate;}
#main-title div.bgImg img:nth-child(2) {position: absolute; z-index: -10; width: auto; height: 145px; top: 280px; right: 50%; animation:doongdoong 2s infinite alternate;}
#main-title div.bgImg img:nth-child(3) {position: absolute; z-index: -10; width: auto; height: 172px; top: 470px; bottom: 0; right: 34%; animation:doongdoong 1.5s infinite alternate;}
#main-title div.bgImg img:nth-child(4) {position: absolute; z-index: -10; width: auto; height: 72px; top: 400px; right: 8%; animation:doongdoong 3s infinite alternate;}

/* #main-content */
#main-content ul > .container {position: relative; margin-left: calc(33.33% - 13.33px);}
#main-content ul > .container + .container {margin-top: 20px;}
#main-content ul > .container::after {content: ''; display: block; clear: both;}
#main-content ul > .container > .layout-box {float: left; padding: 15px 20px;}
#main-content ul > .container > .layout-box + .layout-box {margin-left: 20px;}

#main-content ul > .container.col-2 > .layout-box {width: calc(50% - 10px); word-break: break-all;}

#main-content ul > .container > .layout-box > p {font-size: 22px; font-weight: 700; line-height: 1.6; letter-spacing: -0.03em; margin-bottom: 4px;}
#main-content ul > .container > .layout-box > a {font-size: 18px; color: #666;}

/* #map */
#map #contact-map {text-align: right;}
#map #contact-map img {margin-top: 60px; width: 100%;}
#map #contact-map .button-outlink {text-align: left;}

/* .divide-two-nav */
div.divide-two-nav {width: 100vw;}