.title {font-weight: 800;}
.date {color: #999; font-weight: 400;}
section h2 {margin-bottom: 32px;}

/* COMMON style */
section {width: calc(100vw - 80px); overflow: hidden;}
section#main-visual {padding: 0; height: 85vh; width: 100vw;}
section#main-title {padding: 60px 0;}
section#section-playlistoriginal {padding: 0;}
section#section-teenply {padding: 180px 0 0 0;}
section#section-muply {padding: 180px 0 0 0;}
section#section-globalchannel {padding: 180px 0;}
#footer {width: calc(100vw - 80px);}

/* section#main-visual */
#main-visual {background-repeat: no-repeat; background-size: cover; background-position: center;}
#main-visual .main-visual-title {color: #fff; font-weight: 700; position: absolute; bottom: 150px; z-index: 100; background-size: cover; background-repeat: no-repeat; background-position: center;}
#main-visual .main-visual-title > h2 {font-size: 106px; text-align: left; margin: 0; line-height: 1.3;}
#main-visual .main-visual-title > p {font-size: 46px; line-height: 1.3;}

/* section#main-title */
.container h3 {font-size: 46px; font-weight: 700; line-height: 1.6; letter-spacing: -0.03em;}
.container p.num {font-size: 54px; color: #1A247D; font-weight: 700;}
#main-title p.update-date {width: 100%; font-size: 14px; padding-top: 40px; padding-left: 33.3%}

.container {position: relative; text-align: left; margin-left: 33.3%; width: 66.6%;}
.container + .container {margin-top: 15px;}
.container::after {content: ''; display: block; clear: both;}
.container > .layout-box {display: inline-block; width: calc(50% - 12px); vertical-align: top; min-height: 100px;}
.container > .layout-box + .layout-box {margin-left: 20px;}

#main-title div.bgImg {background-position: left -50% center; width: 100vw; height: 400px; background-size: cover; background-repeat: no-repeat;}
#main-title div.bgImg.show {background-position: left 10% center;}

/* section#section-playlistoriginal, section#section-teenply, section#section-muply, section#section-globalchannel */
.button-outlink {min-width: 180px; max-width: 40%;}
#section-teenply .button-outlink {border-color: #FF7F0F; color: #FF7F0F;}
#section-muply .button-outlink {border-color:#7F00FF; color: #7F00FF;}

.content-box {display: flex;}
.content-box h3 {margin-right: 50px; font-size: 52px; line-height: 1;}
.content-box img {max-width: 250px; margin-right: 50px;}
.content-box .content {font-size: 22px; color: #000000; font-weight: 700;}

#section-playlistoriginal .figImg {padding-bottom: 20px;}
#section-muply .figImg {padding-bottom: 50px;}
.figImg {display: flex; justify-content: space-between; padding-top: 132px;}
.figImg figure {margin: 0; position: relative;}
.figImg figure + figure {margin-left: 60px;}
.figImg figure:nth-child(2n) {top: 50px;}

.figImg figure figcaption {font-size: 14px; text-align: left; margin-top: 10px;}

/* section#zigzag */
a.goto-plus::after, a.goto-plus > em, a.goto-plus > em::after {color:#7F00FF; border-color: #7F00FF;}

/* .divide-two-nav */
div.divide-two-nav {width: calc(100vw - 80px);}