/* COMMON */
section {overflow: hidden; width: 100vw;}
section#main-title {padding: 180px 0 0 0;}
section.zigzag {padding: 180px 0; text-align: center;}

/* section#main-title */
section#main-title {text-align: center;}
#main-title h1 {font-size: 106px; font-weight: 700;}

.bg {height: 101vh; position: fixed; z-index: -10; object-fit: cover;}
.bg:last-of-type {top: 60%; bottom: 0; right: -1%;}
.bg:first-of-type {top: -10%; left: -1%;}